<!-- Footer to be inserted -->


<!-- Footer to be inserted -->


<!-- Lists of Links -->
<div class="footerlinks">
	
	<ul class="col-md-3">
		<li class="head">Discover Congress</li>
		<li>What is Congress?</li>
		<li>Congress Theme</li>
		<li>Plenary Speakers</li>
		<li>INRHoF Awards Ceremony</li>
		<li>Exhibitors, Advertisers, and Sponsorships</li>
		<li>Past Congress Hightlights</li>

	</ul>

	<ul class="col-md-3">
		<li class="head">Attendee Information</li>
		<li>Why Attend Congress?</li>
		<li>Call for Abstracts</li>
		<li>Oral and Symposium Presentation Guidelines</li>
		<li>Poster Presentation Guidelines</li>
        <li>Volunteer Opportunities</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Schedule</li>
		<li>Personal Scheduler</li>
        <li>Special Events and Workshops</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Register Today!</li>
		<li>Registration Information</li>
		<li>REGISTER NOW</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Hotel and Travel</li>
		<li>Hotel Information</li>
        <li>Travel Information</li>
        <li>Things to Do</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Connect with Congress</li>
		<li>Contact Us</li>
		<li>Sign-up for Email Alerts</li>
		<li>Facebook</li>
		<li>Twitter</li>
		<li>Linkedin</li>
		<li>The Circle</li>
	</ul>
	
	<br style="clear:both;"/>
	
</div>

 <!-- FOOTER -->
<div class="footer">
	
	<a href="http://www.nursingsociety.org" target="_blank">
		<img src="./images/stti_logo.svg" type="image/svg+xml" class="logo" alt="The Honor Society of Nursing, Sigma Theta Tau International" />
	</a>
	
	<div>
   		&copy; 
		1999-2013 Sigma Theta Tau International. All rights reserved worldwide.  Inc.
	</div>
	
	<span>
		<a href="http://www.nursingsociety.org/Pages/ContactUs.aspx" target="_blank">Contact Us</a> 
		|
		<a href="http://www.nursingsociety.org/Pages/Privacy_Policy.aspx" target="_blank">Privacy Policy</a>
	
    	<p class="hidden-md hidden-lg">
			<a href="#">Back to top</a>
		</p>	
	</span>
</div>
