<!-- Footer to be inserted -->


<!-- Lists of Links -->
<div class="footerlinks">
	
	<ul class="col-md-3">
		<li class="head">Header for List 1</li>
		<li>Option 1</li>
		<li>Option 2</li>
		<li>Option 3</li>
		<li>Option 4</li>
		<li>Option 5</li>
		<li>Option 6</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Header for List 2</li>
		<li>Option 1</li>
		<li>Option 2</li>
		<li>Option 3</li>
		<li>Option 4</li>
		<li>Option 5</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Header for List 3</li>
		<li>Option 1</li>
		<li>Option 2</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Header for List 4</li>
		<li>Option 1</li>
		<li>Option 2</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Header for List 5</li>
		<li>Option 1</li>
		<li>Option 2</li>
		<li>Option 3</li>
	</ul>

	<ul class="col-md-3">
		<li class="head">Header for List 6</li>
		<li>Option 1</li>
		<li>Option 2</li>
		<li>Option 3</li>
		<li>Option 4</li>
		<li>Option 5</li>
		<li>Option 6</li>
	</ul>
	
	<br style="clear:both;"/>
	
</div>

 <!-- FOOTER -->
<div class="footer">
	
	<a href="http://www.nursingsociety.org" target="_blank">
		<img src="./images/stti_logo.svg" type="image/svg+xml" class="logo" alt="The Honor Society of Nursing, Sigma Theta Tau International" />
	</a>
	
	<div>
   		&copy; 
		1999-2013 Sigma Theta Tau International. All rights reserved worldwide.  Inc.
	</div>
	
	<span>
		<a href="http://www.nursingsociety.org/Pages/ContactUs.aspx" target="_blank">Contact Us</a> 
		|
		<a href="http://www.nursingsociety.org/Pages/Privacy_Policy.aspx" target="_blank">Privacy Policy</a>
	
    	<p class="hidden-md hidden-lg">
			<a href="#">Back to top</a>
		</p>	
	</span>
</div>
