<!--Custom Header/Navbar to be used for site generated -->  

<!-- initial Navbar set up -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
 <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--navbar Brand/Title (stays and doesn't get collapsed in mobile) -->
    <a class="navbar-brand" href="#">The Honor Society of Nursing, Sigma Theta Tau International</a> 
  </div>  

  <!-- Guts of the navbar that is responsive and gets collapsed -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav pull-right">

           <!--first navbar section/link with dropdowns -->
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discover Congress<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Plenary Speakers</a></li>
        <li><a href="#">Exhibitor, Advertiser, and Sponsorship Opportunities</a></li>
        <li><a href="#">Past Congress Highlights</a></li>
      </ul>
      </li>

      <!--second navbar section/link with dropdowns -->
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendee Information<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Oral and Symposium Presentation Guidelines</a></li>
        <li><a href="#">Poster Presentation Guidelines</a></li>
        <li><a href="#">Volunteer Opportunities</a></li>
      </ul>
      </li>

      <!--third navbar section/link with dropdowns -->
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Personal Scheduler</a></li>
        <li><a href="#">Special Events and Workshops</a></li>
      </ul>
      </li>

      <!--fourth navbar section/link with dropdowns -->
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotel and Travel<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Hotel Information</a></li>
        <li><a href="#">Travel Information</a></li>
        <li><a href="#">Things to Do</a></li>
      </ul>

      <!--fifth navbar section/link -->
      </li><li><a href="#">Registration</a></li>
    </ul>
  </div>
</nav>